<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertGrade">
        INSERT INTO GRADE_UP(GRADE_NO,MEMBER_NO,SHELTER_NO,FILE_NO,SHELTER_TEL,SHELTER_LANDLINE,SHELTER_COMP_NO,GRADE_STATUS,SHELTER_ADDRESS)
        VALUES(SQ_GRADEUP_PK.NEXTVAL,?,?,?,?,?,?,DEFAULT,?)
    </entry>

    <entry key="selectUnReadGrade">
        SELECT
            G.*,
            MEMBER_NAME,
            MEMBER_ID,
            SHELTER_NAME
        FROM GRADE_UP G
        JOIN MEMBER M ON(M.MEMBER_NO = G.MEMBER_NO)
        join SHELTER S ON(G.SHELTER_NO = S.SHELTER_NO)
        WHERE GRADE_STATUS='N'
    </entry>
    <entry key="changeGrade">
        UPDATE GRADE_UP
        SET GRADE_STATUS = 'Y'
        WHERE MEMBER_NO = ?
    </entry>
    <entry key="isSubmit">
        SELECT
            COUNT(*) as cnt
        FROM GRADE_UP
        WHERE MEMBER_NO=?
    </entry>

</properties>