@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    background-color: #f8f5f2;
}

a {
    text-decoration: none;
    color: black;
}

.headcontainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#header_all {
    width: 1200px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
}

#user {
    padding: 100px 12px 0 12px;
}

#user ul {
    list-style: none;
}

#user li {
    float: right;
    width: 100px;
}


#header_box {
    width: 1200px;
    margin: 80px auto 40px;
    display: grid;
    grid-template-columns: repeat(3, 400px);

}


.navbar_menu {
    display: flex;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #f45d48;
    border-radius: 4px;
    text-decoration: none;
}


.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466
}

.saveanimal {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
    background-color: #f45d48;
}

.dropdown {
    display: inline-block;
}

.dropdown-btn {
    font-weight: bold;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #f8f5f2;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    background-color: #f8f5f2;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-submenu a {
    display: block;
    padding: 7px;
    text-align: center;
}

.dropdown-btn a:hover {
    color: #f45d48;
    text-decoration: none;
}

.dropdown-submenu a:hover {
    color: #319493;
    text-decoration: none;
}

.dropdown:hover .dropdown-submenu {
    display: block;
}

#user a:hover {
    color: #f45d48;
    text-decoration: none;
}

#user p {
    padding-left: 100px;
}