/*폰트 : 노토산스 */
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.headcontainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#right_view {
    float: right;
    padding: 20px;
    margin: 0px;
    width: 910px;
    height: auto;
    /* text-align: center; */
}

#user_information {
    font-size: 23px;
    padding: 15px 25px;
}

.box,
.box2 {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}

.box2 p {
    margin-top: 50px;
}


span input[type=date],
span select {
    width: 130px;
    height: 40px;
    border: 0px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

span input[type=submit] {
    width: 70px;
    height: 40px;
    border: 0px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}


#memberList,
#memberList2 {
    margin-top: 30px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 860px;

}

thead th {
    font-size: 16px;
    border-top: 1px solid rgb(203, 203, 203);
    background-color: rgb(236, 236, 236);
    padding: 10px 10px;
    text-align: center;
    width: auto;
}

thead th:first-child {
    padding: 0 10px;

}

tbody td {
    border-top: 1px solid rgb(203, 203, 203);
    text-align: center;
    font-size: 15px;
}


.delete-btn:hover {
    background-color: #f45d48;
    color: white;
}

.delete-btn{
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin: 8px;
    background-color: #39393a;
    color: white;
    cursor: pointer;
}