/*폰트 : 노토산스 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.headcontainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#right_view {
    float: right;
    padding: 20px;
    margin: 0px;
    width: 910px;
    height: auto;
}

#applyList {
    font-size: 23px;
    padding: 15px 20px;
}

.box {
    margin-top: 20px;
}

.box span[id=countApply] {
    padding-left: 30px;
    font-weight: bold;
    color: #f45d48;
}

table {
    border-collapse: collapse;
    width: 860px;
}

thead th {
    font-size: 15px;
    border-top: 1px solid rgb(203, 203, 203);
    background-color: rgb(236, 236, 236);
    padding: 10px 0px;
    text-align: center;
}

thead th:first-child {
    padding: 0 10px;
}

tbody td {
    border-top: 1px solid rgb(203, 203, 203);
    text-align: center;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

td input[type=submit] {
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin: 8px;
    background-color: #676767;
    color: white;
    cursor: pointer;

}

td input[type=submit]:hover {
    background-color: #393939;
    color: white;
}


/**/
.box span[id=countMember] {
    padding-left: 30px;
    font-weight: bold;
    color: #f45d48;
}


.box span[id=memberGrade] {
    padding-left: 44px;
}

.box select[name=selectMemberGrade] {
    border: none;
    font-size: 20px;
}

#updateGradeMemberBtn {
    border: none;
    background-color: #319493;
    color: white;
}

#updateGradeMemberBtn:hover {
    background-color: #177372;
    color: white;
}


#deleteMemberBtn {
    border: none;
    background-color: #f45d48;
    color: white;
}

#deleteMemberBtn:hover, #deleteMemberBtn2:hover {
    background-color: #e14330;
    color: white;
}

#deleteMemberBtn2 {
    border: none;
    background-color: #f45d48;
    width: 95px;
    color: white;
}

.btn-secondary {
    background-color: #319493;
    border: none;
}

.paging-area {
    margin-top: 20px;
}

.checkRef {
    border: none;
    background-color: #319493;
    color: white;
    width: 71px;
    margin-top: 5px;
}

.confirm {
    border: none;
    background-color: #f45d48;
    width: 71px;
    color: white;
    margin-top: 5px;
}