/*폰트 : 노토산스 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.headcontainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#right_view {
    float: right;
    padding: 20px;
    margin: 0px;
    width: 910px;
    height: auto;
}

#user_information {
    font-size: 23px;
    padding: 15px 25px;
}

.box {
    margin-top: 20px;
}

.box span[id=memberTotal] {
    padding-left: 30px;
    font-weight: bold;
    color: #f45d48;
}

#memberList {
    margin-top: 30px;
}

#memberList input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 860px;
    border: 1px solid rgb(203, 203, 203);
}

thead th {
    font-size: 15px;
    border: 1px solid rgb(203, 203, 203);
    background-color: rgb(236, 236, 236);
    padding: 10px 10px;
    text-align: center;
}

thead th:first-child {
    padding: 0 10px;
}

tbody td {
    border: 1px solid rgb(203, 203, 203);
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

td input[type=submit] {
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 60px;
    height: 30px;
    margin: 8px;
    background-color: #676767;
    color: white;
    cursor: pointer;
}

#buttonBox {
    margin-top: 20px;
    text-align: center;
}

#buttonBox input[type=button] {
    margin: 10px;
    width: 100px;
    height: 35px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

td input[type=submit]:hover {
    background-color: #393939;
    color: white;
}

#buttonBox input[value=승인]:hover {
    background-color: #319493;
    color: white;
}

#buttonBox input[value=거부]:hover {
    background-color: #f45d48;
    color: white;
}

.fileBtn {
    background-color: #bababa;
    border: none;
}

.fileBtn:hover{
    background-color: #319493;
    color: white;
}