/*폰트 : 노토산스 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.headcontainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#right_view {
    float: right;
    padding: 20px;
    margin: 0px;
    width: 910px;
    height: auto;
    /* text-align: center; */
}

#user_information {
    font-size: 23px;
    padding: 15px 20px;
}



/* -------------------------수정중----------- */
.box {
    text-align: center;
}

.box span {
    padding: 10px;
}


span input[type=date],
span select {
    width: 130px;
    height: 40px;
    border: 0px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

span input[type=submit] {
    width: 70px;
    height: 40px;
    border: 0px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}


#memberList {
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 860px;

}

thead th {
    font-size: 15px;
    border-top: 1px solid rgb(203, 203, 203);
    background-color: rgb(236, 236, 236);
    padding: 10px 0px;
    text-align: center;
}

thead th:first-child {
    padding: 0 10px;

}

tbody td {
    border-top: 1px solid rgb(203, 203, 203);
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

td input[type=submit] {
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin: 8px;
    background-color: #676767;
    color: white;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #393939;
    color: white;
}

/* --------------모달스타일 -----------------*/

#staticBackdropLabel {
    font-size: 25px;
    color: #f45d48;
}

.modal-body {
    text-align: left;
    font-size: 20px;
}

#btn-primary {
    background-color: #f45d48;
    font-size: 18px;
    border: none;
}

/**/
#supportDate {
    margin-bottom: 20px;
}

#shelterName {
    border: none;
    border-radius: 5px;
}

#searchBtn {
    border: none;
    border-radius: 5px;
    font-size: 19px;
    width: 80px;
    height: 35px;
    margin: 8px;
    background-color: #676767;
    color: white;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #319493;
    color: white;
}

.btn-secondary {
    background-color: #319493;
    border: none;
}

.paging-area {
    margin-top: 20px;
}
