* {
    box-sizing: border-box;
}

#container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.support_notice {
    height: 150px;
    margin: 20px 0 20px 0;
    background-color: #f45d48;
    border-radius: 40px 40px 40px 40px;
}

#notice_left_box p {
    float: left;
    margin: 45px 0 45px 100px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

#notice_right_box p {
    float: right;
    margin: 30px 100px 30px 45px;
    color: white;
    line-height: 30px;
}

#hr_1 hr {
    height: 5px;
    background-color: #f45d48;
    border: none;
}

.support-wrap p, .shelter p, .payment p{
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0 20px;
    color: #f45d48;
}

.support_list {
    font-size: 20px;
    margin: 20px 50px 20px 0;
    font-weight: 500;
}

.support_answer {
    font-size: 20px;
}

.btn-danger {
    color: #fff;
    background-color: rgb(236, 236, 236);
    margin-right: 20px;
    font-size: 16px;
    color: black;
    width: 100px;
    border: none;
}

.btn-danger:hover, .btn-primary:hover  {
    background-color: #f45d48;
}

.btn-danger:not(:disabled):not(.disabled).active{
    background-color: #f45d48;
}


#container hr{
    margin: 40px 0;
}

.btn-primary {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #bababa;
    border: none;
    padding: 10px;
    font-size: 16px;
}

#required_checkedBox {
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
}

#required_checkedBox label{
    cursor: pointer;
}

#payBtn {
    background-color: #f45d48;
    color: #f8f5f2;
    border: 1px;
    border-radius: 5px;
    height: 50px;
    width: 190px;
    font-size: 20px;
    position: relative;
    left: 500px;
}

.required_checked {
    cursor: pointer;
    margin-right: 5px;
}

