/*폰트 : 노토산스 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

#container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#main_top {
    width: 100%;
    height: 380px;
    margin: 10px 0;
}

#main_left {
    width: 730px;
    height: auto;
    float: left;
    margin: 10px 10px 10px 0;
}

#adopt-review {
    width: 730px;
    height: 280px;
    background-color: #eeeeee;
    margin-bottom: 20px;
}

#volunteer-review {
    width: 730px;
    height: 220px;
    background-color: #eeeeee;
}

#adopt-btn-box {
    width: 730px;
    height: 90px;
    padding: 30px 0 0 170px;
}
#adopt-able-animal , #adopt-step {
    width: 180px;
    height: 60px;
    border-radius: 40px;
    border: white solid 3px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
#adopt-able-animal{
    float: left;
    background-color: #f45d48;
}
#adopt-step{
    margin: 0 0 0 50px;
    display: inline-block;
    display: inline-block;
    background-color: #319493;
}
#main_right {
    width: 440px;
    height: auto;
    float: right;
    margin: 10px 0 20px 10px;
}

.main_right_box1 {
    width: 100%;
    height: 520px;
    margin-bottom: 20px;

}

.main_right_box2 {
    width: 100%;
    height: 90px;
    text-align: center;
    padding-top: 10px;
}

#supportBtn{
    background-color: #39393a;
    width: 300px;
    height: 60px;
    border-radius: 40px;
    border: white solid 3px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

#supportBtn:hover{
    color: #39393a;
    background-color: #eeeeee;
}


#main_bottom {
    width: 100%;
    height: 550px;
    margin: 20px 0;
    clear: right;
}

#main_top .slider {
    width: 100%;
    height: 320px;
    margin: 0 auto;
    background-color: rgba(255, 99, 71, 0.3);
    border-radius: 25px;
}
#main_top .slick-track{
    display:flex;
    height:260px;
    margin-top: 25px;
}

#main_top .post{
    border-radius: 15px;
    background-color: white;
    margin: 0 5px 0 5px;
}

#main_top .notice-img{
    width: 190px;
    height: 200px;
    cursor: pointer;
    margin: 20px;
}

.slick-prev:before,
.slick-next:before {
    color: #319493;
}

/*#comment{*/
/*    font-size: 25px;*/
/*    font-weight: 600;*/
/*    color: #f45d48;*/
/*    text-align: center;*/
/*}*/


#adopt-review-list{
    width: 730px;
    height:200px;
    margin-top: 20px;
    display: flex;
    padding: 10px;
}

#main_left img{
    width: 140px;
    height: 170px;
    cursor: pointer;
    margin: 5px 15px 0 20px;
}

#comment2 , #comment3 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding: 5px 0 0 40px;
    cursor: pointer;
}

#volunteer-review-list{
    width: 550px;
    height: 180px;
    float:left;
}

#btn-area{
    width: 150px;
    height: 180px;
    display:inline-block;
    margin-top:10px;
}

#shelterbtn{
    width: 140px;
    height: 130px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #f45d48;
    border: 3px white solid;
    float: right;
    cursor: pointer;
}

#shelterbtn:hover{
    color: #39393a;
    background-color: #eeeeee;
}

#volunteer-review-list li{
    line-height: 180%;
    cursor: pointer;
}

.wrap {
    height: 520px;
    background-color: #eeeeee;
    overflow-y: scroll;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 50px);
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch2 .textbox {
    margin-left: 10px;
    background-color: #bbe1e0;
    color: #39393a;
    font-weight: bolder;
}

.wrap .ch2 .textbox::before {
    left: -15px;
    content: "◀";
    color: #bbe1e0;
}

.wrap .ch1 {
    flex-direction: row-reverse;
}

.wrap .ch1 .textbox {
    margin-right: 10px;
    background-color: #ecd5d1;
    color: #39393a;
    font-weight: bolder;
}

.wrap .ch1 .textbox::before {
    right: -15px;
    content: "▶";
    color: #ecd5d1;
}

#main_bottom #graph_1 img{
    width: 100%;
    height: 500px;
}
.graph_comment{
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    color: #39393a;
}