.slider>div>img {
    max-height: 140px;
    max-width: 70px;
    height: auto;
    display:inline;
    margin-top: 30px;
}
.slider {
    height: 200px;
    width: 600px;
    margin: 0px auto;
    background-color: rgba(255, 99, 71, 0.708);
    border-radius: 25px;
}
.post{
    width:160px;
    height:250px;
    border-radius: 20px;
    background-color: aliceblue;
}

.slick-prev:before, .slick-next:before {
    color: darkcyan;
}
