<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertReport">
        INSERT INTO REPORT (REPORT_NO, CATEGORY_NO, REPORT_CONTENT, REF_TYPE,REF_NO)
        VALUES (SQ_REPORT_PK.nextval,?,?,?,?)
    </entry>
    <entry key="selectReport">
        SELECT
            *
        FROM REPORT;
    </entry>
</properties>