<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertReport">
        INSERT INTO REPORT (REPORT_NO, CATEGORY_NO, REPORT_CONTENT, REF_TYPE,REF_NO)
        VALUES (SQ_REPORT_PK.nextval,?,?,?,?)
    </entry>

    <entry key="selectReport">
        SELECT
            *
        FROM REPORT;
    </entry>

    <entry key="selectReportListCount">
        SELECT COUNT(*) AS cnt
        FROM REPORT
    </entry>

    <entry key="selectReportList">
        SELECT
            REPORT_NO,
            CATEGORY_NAME,
            REF_TYPE,
            REF_NO,
            REPORT_CONTENT
        FROM REPORT R
        JOIN CATEGORY USING (CATEGORY_NO)
        WHERE STATUS='Y'
        ORDER BY REPORT_NO
    </entry>

    <entry key="selectReportDetail">
        SELECT
            REPORT_NO,
            REF_NO ,
            TYPE_NO as"TYPE_NO"
        FROM REPORT R
            LEFT JOIN BOARD b ON  b.BOARD_NO=R.REF_NO
            WHERE REPORT_NO = ? AND REF_TYPE=0
        UNION
        SELECT
            REPORT_NO,
            RL.BOARD_NO as "REF_NO",
            b.TYPE_NO as"TYPE_NO"
        FROM REPORT RP
            LEFT JOIN REPLY RL ON RL.REPLY_NO=RP.REF_NO
            LEFT JOIN BOARD b ON  b.BOARD_NO=RL.BOARD_NO
            WHERE REPORT_NO = ? AND REF_TYPE=1
        UNION
        SELECT
            REPORT_NO,
            NOTICE_NO as"REF_NO",
            6 as"TYPE_NO"
        FROM REPORT RP
            LEFT JOIN REPLY RL ON RL.REPLY_NO=RP.REF_NO
            LEFT JOIN ANIMAL A ON  A."desertionNo"=RL.NOTICE_NO
        WHERE REPORT_NO = ? AND REF_TYPE=2
    </entry>

    <entry key="changeReportStatus">
        UPDATE REPORT R
        SET STATUS = 'N'
        WHERE REPORT_NO = ?
    </entry>
</properties>