<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="insertMember">
        INSERT INTO MEMBER(MEMBER_NO, MEMBER_ID, MEMBER_PWD, MEMBER_NAME, NICKNAME, PHONE, EMAIL, MEMBER_GRADE)
        VALUES(SQ_MEMBER_PK.NEXTVAL,?,?,?,?,?,?,?)
    </entry>

    <entry key="idCheck">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE MEMBER_ID = ?
    </entry>

    <entry key="nicknameCheck">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE NICKNAME = ?
    </entry>

    <entry key="loginMember">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = ?
        AND MEMBER_PWD = ?
        AND MEMBER_STATUS = 'Y'
    </entry>
    <entry key="loginMemberByNo">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_NO=?
        AND MEMBER_STATUS = 'Y'
    </entry>

    <entry key="findId">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_NAME = ?
        AND EMAIL = ?
    </entry>

    <entry key="findPwd">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_NAME = ?
        AND MEMBER_ID = ?
        AND EMAIL = ?
    </entry>

    <entry key="pwdReset">
        UPDATE MEMBER SET
        MEMBER_PWD = ?
        WHERE
        MEMBER_ID = ?
    </entry>

    <entry key="updateMember">
        UPDATE MEMBER
        SET
        PHONE = ? ,
        EMAIL = ? ,
        NICKNAME = ?,
        ENROLL_DATE = SYSDATE
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="deleteMember">
        UPDATE MEMBER SET STATUS = 'N',
        WHERE USER_ID = ?
        AND USER_PWD = ?
    </entry>

    <entry key="updateResent">
        UPDATE MEMBER
        SET RESENT_CONNECTION = SYSDATE
        WHERE MEMBER_NO = ?
    </entry>


    <entry key="checkPwd">
        SELECT
        MEMBER_PWD
        FROM MEMBER
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="checkId">
        SELECT
        MEMBER_ID
        FROM MEMBER
        WHERE MEMBER_NO = ?
    </entry>





    <!--Manager-->

    <entry key="manageMember">
        SELECT
        MEMBER_NO,
        MEMBER_ID,
        MEMBER_NAME,
        EMAIL,
        MEMBER_GRADE,
        ENROLL_DATE
        FROM MEMBER
    </entry>


    <!--관리자 - 전체 회원리스트-->
    <entry key="selectMemberList">
        SELECT
        M.MEMBER_NO,
        M.MEMBER_ID,
        M.MEMBER_NAME,
        M.NICKNAME,
        M.EMAIL,
        M.MEMBER_GRADE,
        M.SHELTER_NO,
        NVL(S.SHELTER_NAME,'해당없음') AS SHELTER_NAME,
        M.ENROLL_DATE,
        M.RESENT_CONNECTION
        FROM MEMBER M, SHELTER S
        WHERE M.SHELTER_NO = S.SHELTER_NO(+)
        ORDER BY MEMBER_NO
    </entry>

    <entry key="countMember">
        SELECT COUNT(*)
        FROM MEMBER
    </entry>

    <entry key="changeGrade">
        UPDATE MEMBER
        SET MEMBER_GRADE = 1
        WHERE MEMBER_NO = ?
    </entry>



</properties>
