<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="insertMember">
        INSERT INTO MEMBER(MEMBER_NO, MEMBER_ID, MEMBER_PWD, MEMBER_NAME, NICKNAME, PHONE, EMAIL, MEMBER_GRADE)
        VALUES(SQ_MEMBER_PK.NEXTVAL,?,?,?,?,?,?,?)
    </entry>

    <entry key="idCheck">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE MEMBER_ID = ?
    </entry>

    <entry key="nicknameCheck">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE NICKNAME = ?
    </entry>

    <entry key="loginMember">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = ?
        AND MEMBER_PWD = ?
        AND MEMBER_STATUS = 'Y'
    </entry>
    <entry key="loginMemberByNo">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_NO=?
        AND MEMBER_STATUS = 'Y'
    </entry>

    <entry key="findId">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_NAME = ?
        AND EMAIL = ?
    </entry>

    <entry key="findUser">
        SELECT MEMBER_NO
        FROM MEMBER
        WHERE MEMBER_NAME = ?
        AND MEMBER_ID = ?
        AND EMAIL = ?
        AND MEMBER_STATUS='Y'
    </entry>

    <entry key="updatePassword">
        UPDATE MEMBER
        SET MEMBER_PWD = ?
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="updateMember">
        UPDATE MEMBER
        SET
        PHONE = ? ,
        EMAIL = ? ,
        NICKNAME = ?,
        ENROLL_DATE = SYSDATE
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="deleteByMemberNo">
        UPDATE MEMBER SET MEMBER_STATUS = 'N'
        WHERE MEMBER_NO = ?
    </entry>
    <entry key="deleteByIdAndPwd">
        UPDATE MEMBER SET MEMBER_STATUS = 'N'
        WHERE MEMBER_ID = ?
        AND MEMBER_PWD = ?
    </entry>

    <entry key="updateResent">
        UPDATE MEMBER
        SET RESENT_CONNECTION = SYSDATE
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="checkPwd">
        SELECT
        MEMBER_PWD
        FROM MEMBER
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="checkId">
        SELECT
        MEMBER_ID
        FROM MEMBER
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="updateGrade">
        UPDATE MEMBER
        SET MEMBER_GRADE = ?
        WHERE MEMBER_NO = ?
    </entry>





    <!--Manager-->

    <entry key="manageMember">
        SELECT
        MEMBER_NO,
        MEMBER_ID,
        MEMBER_NAME,
        EMAIL,
        MEMBER_GRADE,
        ENROLL_DATE
        FROM MEMBER
    </entry>


<!--    사용안함 삭제필요
        <entry key="selectMemberList">
            SELECT
                M.MEMBER_NO,
                M.MEMBER_ID,
                M.MEMBER_NAME,
                M.NICKNAME,
                M.EMAIL,
                M.MEMBER_GRADE,
                M.SHELTER_NO,
                NVL(S.SHELTER_NAME,'해당없음') AS SHELTER_NAME,
                M.ENROLL_DATE,
                M.RESENT_CONNECTION
            FROM MEMBER M, SHELTER S
            WHERE M.SHELTER_NO = S.SHELTER_NO(+)
                AND MEMBER_STATUS = 'Y'
            ORDER BY MEMBER_NO
        </entry>-->





    <entry key="selectMemberList">
        SELECT *
        FROM(
        SELECT ROWNUM AS "RNUM", A.*
        FROM(
        SELECT
        M.MEMBER_NO,
        M.MEMBER_ID,
        M.MEMBER_NAME,
        M.NICKNAME,
        M.EMAIL,
        M.MEMBER_GRADE,
        M.SHELTER_NO,
        NVL(S.SHELTER_NAME,'해당없음') AS SHELTER_NAME,
        M.ENROLL_DATE,
        M.RESENT_CONNECTION
        FROM MEMBER M, SHELTER S
        WHERE M.SHELTER_NO = S.SHELTER_NO(+)
        AND MEMBER_STATUS = 'Y'
        ORDER BY MEMBER_NO
        ) A
        )
        WHERE RNUM BETWEEN ? AND ?
    </entry>


    <entry key="selectMemberListByFilter">
        SELECT *
        FROM(
        SELECT ROWNUM AS "RNUM", A.*
        FROM(
        SELECT
        M.MEMBER_NO,
        M.MEMBER_ID,
        M.MEMBER_NAME,
        M.NICKNAME,
        M.EMAIL,
        M.MEMBER_GRADE,
        M.SHELTER_NO,
        NVL(S.SHELTER_NAME,'해당없음') AS SHELTER_NAME,
        M.ENROLL_DATE,
        M.RESENT_CONNECTION
        FROM MEMBER M, SHELTER S
        WHERE M.SHELTER_NO = S.SHELTER_NO(+)
        AND MEMBER_STATUS = 'Y'
        AND MEMBER_GRADE = ?
        ORDER BY MEMBER_NO
        ) A
        )
        WHERE RNUM BETWEEN ? AND ?
    </entry>


    <entry key="count">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE MEMBER_STATUS = 'Y'
    </entry>

    <entry key="countByFilter">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE MEMBER_STATUS = 'Y'
        AND MEMBER_GRADE = ?
    </entry>

    <entry key="changeGrade">
        UPDATE MEMBER
        SET MEMBER_GRADE = 1,
            SHELTER_NO = (SELECT SHELTER_NO FROM GRADE_UP WHERE MEMBER_NO=?)
        WHERE MEMBER_NO = ?
    </entry>

    <entry key="deleteShelterInfo">
        UPDATE MEMBER
        SET SHELTER_NO = null
        WHERE MEMBER_NO = ?
    </entry>



</properties>
