<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="selectConfirmNo">
        SELECT SQ_CONFIRM_PK
        FROM DUAL
    </entry>
    <entry key="insertConfirm">
        INSERT INTO CONFIRM(CONFIRM_NO,CONFIRM_TIME,CONFIRM_CODE) VALUES (?,SYSDATE,?)
    </entry>
    <entry key="selectConfirm">
        SELECT
            CASE WHEN CONFIRM_TIME > THEN
                WHEN THEN
            END
        FROM CONFIRM WHERE CONFIRM_NO = ?
    </entry>

</properties>