/*폰트 : 노토산스 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.headcontainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}


#right_view {
    float: right;
    padding: 20px;
    margin: 0px;
    width: 710px;
    height: auto;
    text-align: center;
}

#user_information {
    font-size: 23px;
    font-weight: bold;
    padding: 15px 25px;
}

.form-group p {
    color: rgb(130, 130, 130);
    font-weight: lighter
}

.form-group {

    text-align: left;
}

.form-group label {
    margin: 40px 0 20px 0;
    display: block;
}

.form-group input {
    width: 500px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-file {
    margin: 40px 0 20px 0;
    text-align: left;
}

button[type=submit] {
    position: relative;
    left: 115px;
    background-color: #319493;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #319493;
    color: white;
}

.btn-primary {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #bababa;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #319493;
    color: white;
}