<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!--API키는 이파일에서 관리할것!-->
<properties>


    <entry key="selectList">
        SELECT *
        FROM (
        SELECT ROWNUM RNUM, A.*
            FROM(
                SELECT BOARD_NO,
                BOARD_TITLE,
                MEMBER_NO,
                 READ_COUNT,
                CREATE_DATE
        FROM BOARD
        WHERE BOARD_STATUS = 'Y'
            AND TYPE_NO = ?
        ORDER BY CREATE_DATE DESC) A )
        WHERE RNUM BETWEEN ? AND ?
    </entry>

    <entry key="selectReviewDetail">
        SELECT
        BOARD_NO,
        BOARD_TITLE,
        MEMBER_NO,
        NICKNAME,
        ISSUE_DATE,
        CREATE_DATE,
        READ_COUNT,
        BOARD_CONTENT
        FROM BOARD
        JOIN MEMBER USING (MEMBER_NO)
        WHERE BOARD_NO = ?
        AND BOARD_STATUS = 'Y'
    </entry>

    <entry key="selectListCount">
        SELECT COUNT(*) as cnt
        FROM BOARD
        WHERE TYPE_NO = ? AND
        BOARD_STATUS='Y'
    </entry>

    <entry key="selectMyPageBoardListCount">
        SELECT COUNT(*) AS cnt
        FROM BOARD
        WHERE BOARD_STATUS = 'Y'
        AND MEMBER_NO = ?
    </entry>

    <entry key="selectQnAListCount">
        SELECT COUNT(*) as cnt
        FROM BOARD
        JOIN BOARD_TYPE USING(TYPE_NO)
        WHERE TYPE_NO = ?
        AND BOARD_STATUS='Y'
        AND(MEMBER_NO=? OR 2=?)
    </entry>
    <entry key="selectMyPageBoardList">
        SELECT *
        FROM(
            SELECT
                ROWNUM AS "RNUM",
                A.*
            FROM(
                SELECT
                    B.BOARD_NO,
                    BOARD_TITLE,
                    CREATE_DATE,
                    READ_COUNT,
                    TYPE_NO
                FROM BOARD B
                JOIN MEMBER M ON B.MEMBER_NO = M.MEMBER_NO
                WHERE B.MEMBER_NO = ?
                AND BOARD_STATUS = 'Y'
                ORDER BY CREATE_DATE DESC
                ) A
            )
        WHERE RNUM BETWEEN ? AND ?
    </entry>

    <entry key="selectQnAList">
        SELECT *
        FROM(
            SELECT
                ROWNUM AS "RNUM",
                A.*
            FROM (
                SELECT
                    CASE WHEN REPLY_CONTENT IS NULL THEN '답변전' ELSE '답변완료' END AS "RESULTSTATUS",
                    B.BOARD_NO,
                    BOARD_TITLE,
                    MEMBER_NAME,
                    CREATE_DATE
                FROM BOARD B
                JOIN BOARD_TYPE USING(TYPE_NO)
                JOIN MEMBER M on B.MEMBER_NO=M.MEMBER_NO
                LEFT JOIN REPLY R on B.BOARD_NO = R.BOARD_NO
                WHERE BOARD_NAME = '문의'
                AND(B.MEMBER_NO=? OR 2=?)
                AND BOARD_STATUS = 'Y'
                ORDER BY CREATE_DATE DESC
                ) A
            )
        WHERE RNUM BETWEEN ? AND ?
    </entry>

    <entry key="insertReviewBoard">
        INSERT INTO BOARD(BOARD_NO,MEMBER_NO, TYPE_NO,  BOARD_TITLE, BOARD_CONTENT, BOARD_STATUS,FILE_COUNT,ISSUE_DATE)
        VALUES (?, ?, ?, ?, ? ,'Y',?,?)
    </entry>
    <entry key="insertQnABoard">
        INSERT INTO BOARD(BOARD_NO,MEMBER_NO, TYPE_NO,  BOARD_TITLE, BOARD_CONTENT, BOARD_STATUS,FILE_COUNT,CATEGORY_NO)
        VALUES (?, ?, ?, ?, ? ,'Y',?,?)
    </entry>
    <entry key="selectBoardNo">
        SELECT
            SQ_BOARD_PK.NEXTVAL
        FROM DUAL
    </entry>
    <entry key="increaseCount">
        UPDATE BOARD
        SET READ_COUNT = READ_COUNT + 1
        WHERE BOARD_NO = ?
        AND BOARD_STATUS = 'Y'
    </entry>
    <entry key="selectInquireBoard">
        SELECT
            BOARD_NO,
            MEMBER_NO,
            CATEGORY_NAME,
            BOARD_TITLE,
            BOARD_CONTENT,
            MEMBER_ID,
            CREATE_DATE,
            NICKNAME
        FROM BOARD B
        LEFT JOIN CATEGORY USING(CATEGORY_NO)
        JOIN MEMBER M USING(MEMBER_NO)
        WHERE BOARD_NO = ?
            AND (MEMBER_NO=? or 2=?)
            AND B.BOARD_STATUS = 'Y'
    </entry>

    <entry key="updateInquireBoard">
        UPDATE BOARD
            SET CATEGORY_NO = ?
                ,BOARD_TITLE = ?
                ,BOARD_CONTENT = ?
        WHERE BOARD_NO = ?
        AND MEMBER_NO=?
        AND BOARD_STATUS='Y'
    </entry>
    <entry key="updateReviewBoard">
        UPDATE BOARD
        SET BOARD_TITLE = ?,
            BOARD_CONTENT = ?,
            ISSUE_DATE = ?
        WHERE BOARD_NO = ?
    </entry>

    <entry key="deleteBoard">
        UPDATE BOARD
        SET BOARD_STATUS = 'N'
        WHERE BOARD_NO = ?
    </entry>

    <entry key="selectReviewList">
        SELECT *
        FROM(
        SELECT BOARD_NO,
            BOARD_TITLE
            FROM BOARD
            WHERE BOARD_STATUS = 'Y'
            AND TYPE_NO = ?
        ORDER BY CREATE_DATE DESC
        )
        WHERE ROWNUM &lt;= 5
    </entry>
</properties>
