<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="selectReplyList">
        SELECT
            REPLY_NO,
            MEMBER_NO,
            MEMBER_NAME,
            BOARD_NO,
            REPLY_CONTENT,
            REPLY_DATE
        FROM REPLY R
        JOIN MEMBER USING (MEMBER_NO)
        WHERE R.REPLY_STATUS = 'Y'
        AND BOARD_NO = ?
        ORDER BY CREATE_DATE DESC , REPLY_NO
    </entry>
    <entry key="selectNoticeReplyList">
        SELECT
            REPLY_NO,
            MEMBER_NO,
            MEMBER_NAME,
            BOARD_NO,
            REPLY_CONTENT,
            REPLY_TYPE,
            REPLY_DATE
        FROM REPLY R
        JOIN MEMBER USING (MEMBER_NO)
        WHERE R.REPLY_STATUS = 'Y'
        AND BOARD_NO = ?
        ORDER BY CREATE_DATE DESC , REPLY_NO
    </entry>
    <entry key="selectReplyNo">
        SELECT
            SQ_COMMENT_PK.NEXTVAL
        FROM DUAL
    </entry>
    <entry key="insertBoardReply">
        INSERT INTO REPLY
        (REPLY_NO,
        BOARD_NO,
        MEMBER_NO,
        REPLY_CONTENT)
        VALUES
        (SQ_COMMENT_PK.NEXTVAL,
        ?,?,?)
    </entry>
    <entry key="insertNoticeReply">
        INSERT INTO REPLY
        (REPLY_NO,
        NOTICE_NO,
        MEMBER_NO,
        REPLY_TYPE,
        REPLY_CONTENT)
        VALUES
        (?,
        ?,?,?,?)
    </entry>
</properties>