<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="selectReplyList">
        SELECT
            REPLY_NO,
            MEMBER_NO,
            NICKNAME,
            BOARD_NO,
            REPLY_CONTENT,
            REPLY_DATE
        FROM REPLY R
        JOIN MEMBER USING (MEMBER_NO)
        WHERE R.REPLY_STATUS = 'Y'
        AND BOARD_NO = ?
        ORDER BY REPLY_DATE
    </entry>
    <entry key="selectNoticeReply">
        SELECT
            REPLY_NO,
            MEMBER_NO,
            NICKNAME,
            REPLY_CONTENT,
            REPLY_TYPE,
            REPLY_DATE
        FROM REPLY R
        JOIN MEMBER USING (MEMBER_NO)
        WHERE R.REPLY_STATUS = 'Y'
        AND NOTICE_NO = ?
        ORDER BY REPLY_TYPE,REPLY_NO
    </entry>
    <entry key="selectReplyNo">
        SELECT
            SQ_COMMENT_PK.NEXTVAL
        FROM DUAL
    </entry>
    <entry key="selectReplyMno">
        SELECT
            MEMBER_NO
        FROM REPLY
        WHERE REPLY_NO=?
    </entry>
    <entry key="insertBoardReply">
        INSERT INTO REPLY
        (REPLY_NO,
        BOARD_NO,
        MEMBER_NO,
        REPLY_CONTENT)
        VALUES
        (SQ_COMMENT_PK.NEXTVAL,
        ?,?,?)
    </entry>
    <entry key="insertNoticeReply">
        INSERT INTO REPLY
        (REPLY_NO,
        NOTICE_NO,
        MEMBER_NO,
        REPLY_TYPE,
        REPLY_CONTENT)
        VALUES
        (?,
        ?,?,?,?)
    </entry>
    <entry key="deleteReply">
        UPDATE REPLY
            SET REPLY_STATUS ='N'
        WHERE REPLY_NO=? AND MEMBER_NO=?
    </entry>
</properties>