@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #f8f5f2;
}

select {
    width: 180px;
    /* 원하는 너비설정 */
    padding: .6em .3em;
    /* 여백으로 높이 설정 */
    font-family: inherit;
    /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
}

button {
    font-size: 20px;
    width: 120px;
    height: 55px;
    background-color: #f45d48;
    border-radius: 3px;
    color: #f8f5f2;
    border: #f45d48;
    cursor: pointer;
}

#content {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
#search {
    height: 100px;
    width: 1080px;
    background-color: #f45c4828;
    padding: 20px 0 0 30px;
    border-radius: 20px;
}

#searchBox {
    width: 90%;
}

#searchBox td {
    font-size: 20px;
    width: 100px;
    text-align: center;
}

#searchBox th {
    width: 200px;
    text-align: left;
}

.list-area {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 20px;
    border: solid 2px lightgray;
    border-collapse: collapse;
}

.list-area th {
    border: solid 1px lightgray;
    padding: 10px;
    font-size: 18px;
}

.list-area td {
    border: solid 1px lightgray;
    padding: 10px;
}

thead {
    background-color: #eeee;
}
#shelter{
    width: 100%;
    margin-left: 60px;
}