<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="manageMember">
        SELECT
        MEMBER_NO,
        MEMBER_ID,
        MEMBER_NAME,
        NICKNAME,
        EMAIL,
        MEMBER_GRADE,
        SHELTER_NO,
        ENROLL_DATE,
        RESENT_CONNECTION
        FROM MEMBER
    </entry>

    <entry key="memberCount">
        SELECT COUNT(*)
        FROM MEMBER
    </entry>



</properties>