<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="selectShelterList"> <!-- shelter 전체 조회-->
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE SHELTER_ADDRESS IS NOT NULL
        ORDER BY SHELTER_NAME
    </entry>

    <entry key="ShelterListByVillage"> <!-- 둘다 선택했을때 -->
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE VILLAGE_NO = ?
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="ShelterListByCity"> <!-- 도만 선택했을 경우 -->
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE CITY_NO = ?
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="shelterListByShelterNo">
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE SHELTER_NO = ?
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="impossible">
        SELECT *
        FROM SHELTER
        WHERE SHELTER_NO IN(SELECT
        SHELTER_NO
        FROM MEMBER
        WHERE MEMBER_GRADE = 1)
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="shelterNoByName">
        SELECT
            SHELTER_NO
        FROM SHELTER
        WHERE SHELTER_NAME = (SELECT
        "careNm"
        FROM ANIMAL
        WHERE "desertionNo" = ?)
    </entry>

    <entry key="selectByShelterNo">
        SELECT * FROM SHELTER
        WHERE SHELTER_NO = ?
    </entry>

    <!--    회원정보에 등록된 보호소만 후원가능하게 할경우
<entry key="">
    SELECT
    S.SHELTER_NO,
    S.SHELTER_NAME,
    S.SHELTER_ADDRESS,
    S.SHELTER_LANDLINE,
    S.CITY_NO,
    S.VILLAGE_NO
    FROM SHELTER S
    INNER JOIN MEMBER M on S.SHELTER_NO = M.SHELTER_NO
    WHERE SHELTER_ADDRESS IS NOT NULL
</entry>-->


    <entry key="updateLatestTransfer">
        UPDATE SHELTER
        SET TRANSFER_NO = ?
        WHERE SHELTER_NO = ?
    </entry>

    <entry key="volAbleShelter">
        SELECT
        *
        FROM SHELTER
        WHERE SHELTER_NO IN(SELECT
        SHELTER_NO
        FROM MEMBER
        WHERE MEMBER_GRADE=1)
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>



</properties>




