<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <entry key="selectShelterList"> <!-- shelter 전체 조회-->
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE SHELTER_ADDRESS IS NOT NULL
        ORDER BY SHELTER_NAME
    </entry>

    <entry key="ShelterListByVillage"> <!-- 둘다 선택했을때 -->
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE VILLAGE_NO = ?
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="ShelterListByCity"> <!-- 도만 선택했을 경우 -->
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE CITY_NO = ?
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="shelterListByShelterNo">
        SELECT
        SHELTER_NO,
        SHELTER_NAME,
        SHELTER_ADDRESS,
        SHELTER_LANDLINE,
        CITY_NO,
        VILLAGE_NO
        FROM SHELTER
        WHERE SHELTER_NO = ?
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="impossible">
        SELECT *
        FROM SHELTER
        WHERE SHELTER_NO IN(SELECT
        SHELTER_NO
        FROM MEMBER
        WHERE MEMBER_GRADE = 1)
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="shelterNoByName">
        SELECT
            SHELTER_NO
        FROM SHELTER
        WHERE SHELTER_NAME = (SELECT
        "careNm"
        FROM ANIMAL
        WHERE "desertionNo" = ?)
    </entry>

    <entry key="selectByShelterNo">
        SELECT * FROM SHELTER
        WHERE SHELTER_NO = ?
    </entry>

    <entry key="updateLatestTransfer">
        UPDATE SHELTER
        SET TRANSFER_NO = ?
        WHERE SHELTER_NO = ?
    </entry>

    <entry key="volAbleShelter">
        SELECT
        *
        FROM SHELTER
        WHERE SHELTER_NO IN(SELECT
        SHELTER_NO
        FROM MEMBER
        WHERE MEMBER_GRADE=1)
        AND SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="update">
        UPDATE SHELTER SET
        SHELTER_LANDLINE = ?,
        SHELTER_TEL = ?,
        SHELTER_ADDRESS = ?,
        SHELTER_EMAIL = ?
        WHERE SHELTER_NO = ?
    </entry>

</properties>




